*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}




h2{
    margin:20px;
}

.container{
    width:90%;
    margin:30px auto;
}

.card{
    width:380px;
    height:170px;
    background:#1f098d;
    border-radius:20px;
    display:inline-block;
    margin:20px 45px;
    padding:20px;
    vertical-align:top;
}

.card h1{
    font-size:28px;
    margin-bottom:10px;
    color:rgb(6, 65, 6)
}

.card p{
    font-size:18px;
    color:rgb(255, 255, 255);
}
body{
    background-color:darkcyan;
}