* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links a {
    color: rgb(16, 16, 70);
    font-weight: bold;
    padding: left 100px;
    font-size: 20px;

}

.links {
    display: flex;
    gap: 20px;

}

header {
    background-color: coral;
    padding: 40px;
    background-image: url(/image.png);
   
}

* {
    text-decoration: none;
}

* {
    list-style: none;
}

body {
    background-color: cornsilk;
}

.logo {
    color: rgb(9, 109, 17);
    font-size: 20px;
    font-weight: bold;
}

#qutilar {
    padding: 60px 20px;
}

.quti img {
    width: 420px;
}

.quti {
    width: 460px;
    background-color: rgb(255, 197, 121);
    padding: 20px;
}
.katta-quti{
    display: flex;
    justify-content: space-between;
}
.bmw{
    width: 50px;
   
}