.card1 {
    width: 290px;
    height: 477px;
    border: 12px;
    border-radius: 1px;
    display: inline-block;

}

.image1 {
    width: 256px;
    height: 256px;
    color: #FFFFFF;
}

.card2 {
    background-color: #FFFFFF;
    width: 290px;
height: 477px;
border: 12px solid#FFFFFF;
border-radius: 1px;
display: inline-block;
}

.image2 {
    width: 256px;
    height: 256px;

}