*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    color:#111;
    background:#fff;
    line-height:1.6;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}



.header{
    padding:25px 0;
    background:#fff;
    position:sticky;
    top:0;
    z-index:1000;
}

.header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar ul{
    display:flex;
    gap:35px;
}

.navbar a{
    color:#111;
    font-weight:500;
    transition:.3s;
}

.navbar a:hover{
    color:#6D5DF6;
}

.btn{
    background:#111;
    color:#fff;
    padding:14px 28px;
    border-radius:8px;
    transition:.3s;
}

.btn:hover{
    background:#333;
}

/* HERO */

.hero{
    padding:80px 0;
}

.hero-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;
    align-items:center;
}

.tag{
    display:inline-block;
    background:#eee;
    padding:8px 18px;
    border-radius:30px;
    margin-bottom:20px;
    font-size:14px;
}

.hero h1{
    font-size:64px;
    line-height:1.1;
    margin-bottom:25px;
}

.hero p{
    color:#666;
    margin-bottom:35px;
    max-width:520px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.btn-outline{
    border:2px solid #111;
    padding:14px 28px;
    border-radius:8px;
    color:#111;
}

.btn-outline:hover{
    background:#111;
    color:#fff;
}

/* INFO */

.info{
    padding:60px 0;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.card{
    background:#111;
    color:#fff;
    padding:30px;
    border-radius:14px;
}

.card h3{
    margin-bottom:10px;
    font-size:18px;
}

.card p{
    color:#bbb;
}



.challenge,
.solution,
.result{
    padding:90px 0;
}

.challenge h2,
.solution h2,
.result h2{
    font-size:48px;
    margin-bottom:25px;
}

.challenge p,
.solution p,
.result p{
    max-width:800px;
    color:#555;
    margin-bottom:35px;
}


.solution img,
.result img{
    margin-top:40px;
    border-radius:18px;
}



.projects{
    padding:100px 0;
}

.projects .container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
}

.project-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    transition:.35s;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.project-card:hover{
    transform:translateY(-10px);
}

.project-card img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.project-card span{
    display:inline-block;
    margin:25px 25px 10px;
    color:#777;
    font-size:14px;
}

.project-card h3{
    margin:0 25px 30px;
    font-size:24px;
    line-height:1.4;
}



.contact{
    padding:100px 0;
    text-align:center;
    background:#111;
    color:#fff;
}

.contact h2{
    font-size:50px;
    margin-bottom:20px;
}

.contact p{
    max-width:650px;
    margin:0 auto 35px;
    color:#cfcfcf;
}



.footer{
    padding:30px 0;
    text-align:center;
    border-top:1px solid #e5e5e5;
}

.footer p{
    color:#777;
}



.hero-content{
grid-template-columns:1fr;
text-align:center;
}

.hero p{
margin:auto auto 30px;
}

.cards{
grid-template-columns:repeat(2,1fr);
}

.projects .container{
grid-template-columns:1fr;
}

.navbar{
display:none;
}





.hero h1{
font-size:42px;
}

.challenge h2,
.solution h2,
.result h2,
.contact h2{
font-size:34px;
}

.cards{
grid-template-columns:1fr;
}

.btn,
.btn-outline{
display:block;
width:100%;
text-align:center;
}

.hero-buttons{
flex-direction:column;
}

.container{
width:92%;
}





.hero{
padding:50px 0;
}

.hero h1{
font-size:34px;
}

.contact{
padding:70px 0;
}

.project-card h3{
font-size:20px;
}

.card{
padding:22px;
}

.image10{
   

}